* {
    outline: none
}
/*font-family: "Gadugi Bold";*/
@font-face {
    font-family: Noto Sans;
    src: url(fonts/NotoSans-Regular.ttf);
}
@font-face {
    font-family: Open Sans;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
.buttonSlidebar {
    display: none;
}
:root {
    /* Cores. */
    --textColorWhite: #F3F3F3;
    --textColorBlack: #191918;
    --boxWidth: 1216px;
  }
body button{
    cursor: pointer;
}
body a{
    text-decoration: none;
}
/*===headerBar=================================*/
.headerBar {
    display: flex;
    position: absolute;
    width: 100%;
    background: #191918;
    align-items: center;
    justify-content: center;
}
.headerBar .btnGroupDrop2{
    display: none;
    border: none;
    background-color: transparent;
    color: var(--textColorWhite);
    margin-left: -45px;
    margin-right: 20px;
}
.headerBar .headerBarBox{
    display: flex;
    width: var(--boxWidth);
    height: 150px;
    align-items: center;
    justify-content: space-between;
}
.headerBar .headerBarBox #btnGroupDrop1>img {
    width: 10px;
    margin: 3px 0 0 2px;
}
.headerBar .headerBarBox #btnGroupDrop1 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--textColorWhite);
    background-color: transparent;
    border: none;
}
.headerBar .headerBarBox #btnGroupDrop1:hover{
    color: #FFAA00;
    opacity: 0.8;
    transition: 0.7s;
}
.headerBar .headerBarBox #dropdownMenu a{
    color: var(--textColorBlack);
}
.headerBar .headerBarBox #dropdownMenu{
    padding: 10px;
}
.headerBar.stick .headerBarBox{
    transition: 0.5s !important;
    height: 70px;
}
.headerBar.stick .headerBarBox .header_logo{
    width: 200px;
}
@media(max-width: 960px){
    .headerBar .headerBarBox{
        padding: 0 10px 0 10px;
    }
    .headerBar .headerBarBox .header_logo{
        margin: 0 -50px 0 -50px;
        width: 300px;
    }
    .headerBar .headerBarBox{
        transition: 0.5s !important;
        height: 120px;
    }
}
@media(max-width: 762px){
    .headerBar .btnGroupDrop2{
        display: flex;
        
    }
    .headerBar .headerBarBox #btnGroupDrop1{
        display: none;
    }
    .headerBar .headerBarBox .header_logo{
        width: 200px;
    }
    .headerBar .headerBarBox{
        transition: 0.9s !important;
        height: 70px;
        background-color: #191918;
    }
}
/*===serverInformation=================================*/
.serverInformation{
    display: flex;
    width: 100%;
    margin-top: 150px;
}
.serverInformation .boxText{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 50px;
    background: linear-gradient(180deg, #F58B16 0%, #FFBE01 100%);
    border-radius: 0px 0px 20px 0px;
    display: flex;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #191918;
}
.serverInformation .boxText > p{
    width: 20%;
}
.serverInformation .marquee{
    width: 50%;
    height: 35px;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
}
.serverInformation .marquee .marqueeBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}
.serverInformation .marquee .marqueeBox p{ 
    margin: 0;
    margin-right: 40px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--textColorWhite);
}
.serverInformation .marquee .marqueeBox p span{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFBE01;
}
.serverInformation .status{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 32%;
    height: 50px;
    background-color: #191918;
    border-radius: 0px 0px 0px 20px;
}
.serverInformationMobile{
    display: none;
}
.serverInformation .status .statusBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33%;
}
.serverInformation .status .statusBox > p{
    margin: 0;
    width: 72px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: var(--textColorWhite);
}
.serverInformation .status .statusBox > span{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #14FF00;
}
@media(max-width: 1024px){
    .serverInformation{
        display: none;
    }
    .serverInformationMobile{
        display: flex;
        margin-top: 142px;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 50px;
        background-color: #191918;
    }
    .serverInformationMobile .statusMobile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #191918;
    }
    .serverInformationMobile .statusMobile .statusBoxMobile{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;
    }
    .serverInformationMobile .statusMobile .statusBoxMobile > p{
        margin: 0;
        width: 72px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: var(--textColorWhite);
    }
    .serverInformationMobile .statusMobile .statusBoxMobile > span{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #14FF00;
    }
}
@media(max-width: 960px){
    .serverInformationMobile{
        margin-top: 112px;
    }
}
@media(max-width: 762px){
    .serverInformationMobile{
        margin-top: 60px;
    }
    .serverInformationMobile .statusMobile .statusBoxMobile > p{
        font-size: 10px;
    }
    .serverInformationMobile .statusMobile .statusBoxMobile > span{
        font-size: 10px;
    }
}
/*===headerBackGround====================================================*/
.headerBackGround{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/background-banner.png) top center no-repeat;
    background-size: 100% 930px;
    width: 100%;
    height: 930px;
    margin-top: -50px;
}
.headerBackGround .boxHeaderBackGround{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
}
.headerBackGround .boxHeaderBackGround .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.headerBackGround .boxHeaderBackGround span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: var(--textColorWhite);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.headerBackGround .boxHeaderBackGround p{
    margin: 0;
    width: 800px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--textColorWhite);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 20px 61px;
}
.headerBackGround .boxHeaderBackGround button{
    border-radius: 15px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: var(--textColorWhite);
    border: none;
    width: 384px;
    height: 50px;
    margin: 10px;
}
.headerBackGround .boxHeaderBackGround button:hover{
    opacity: 0.6;
    transition: 0.7s;
}
.headerBackGround .boxHeaderBackGround .download{
    background: #FFBE01;
}
.headerBackGround .boxHeaderBackGround .wiki{
    background: #F58B16;
}
.headerBackGround .boxHeaderBackGround .discord{
    background: #5865F2;
}
@media(max-width: 1440px){
    .headerBackGround{
        background-size: auto 930px;
    }
}
@media(max-width: 801px){
    .headerBackGround .boxHeaderBackGround p{
        width: 100%;
        font-size: 12px;
    }
    .headerBackGround .boxHeaderBackGround span{
        font-size: 34px;
    }
}
@media(max-width: 768px){
    .headerBackGround{
        height: 800px;
    }
}
@media(max-width: 440px){
    .headerBackGround .boxHeaderBackGround a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .headerBackGround .boxHeaderBackGround .discord{
        width: 88%;
        margin-top: -1px;
    }
    .headerBackGround{
        height: 700px;
    }
}
/*===destaqueBG====================================================*/
.destaqueBG{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(240, 234, 234, 0.9),rgba(245, 239, 239, 0.9)), url(img/img_background-destaque.png);
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}
.destaqueBG span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #F58B16;
    margin-top: 30px;
}
.destaqueBG p{
    width: 800px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #191918;
    margin-top: 30px;
}
.destaqueBG .destaque6Box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1420px;
    flex-wrap: wrap;
}
.destaqueBG .destaqueBox{
    display: flex;
    margin: 20px;
}
.destaqueBG .destaqueBox img{
    margin: 10px;
    width: 130px;
    height: 130px;
}
.destaqueBG .destaqueBox .destaqueBoxTxt{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
.destaqueBG .destaqueBox .destaqueBoxTxt > span{
    color:#F58B16;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    text-align: start;
}
.destaqueBG .destaqueBox .destaqueBoxTxt > p{
    font-family: 'Noto Sans';
    width: 270px;
    height: 143px;
    color:#191918;
    margin: 0;
    text-align: start;
}
.destaqueBG .destaqueBtn{
    width: 1340px;
}
.destaqueBG .destaqueBtn button:hover{
    opacity: 0.6;
    transition: 0.7s;
}
.destaqueBG .destaqueBtn .wiki{
    border-radius: 15px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: var(--textColorWhite);
    border: none;
    width: 384px;
    height: 50px;
    margin: 10px;
}
.destaqueBG .destaqueBtn .wiki{
    background: #F58B16;
    float: left;
}
@media(max-width: 1420px){
    .destaqueBG .destaque6Box{
        width: 100%
    }
    .destaqueBG .destaqueBtn{
        width: 800px;
    }
}
@media(max-width: 830px){
    .destaqueBG p{
        width: 100%;
    }
}
@media(max-width: 768px){
    .destaqueBG span{
        font-size: 28px;
    }
    .destaqueBG p{
        font-size: 12px;
    }
    .destaqueBG .destaqueBox img{
        width: 110px;
        height: 110px;
    }
    .destaqueBG .destaqueBox .destaqueBoxTxt > span{
        font-size: 14px;
    }
    .destaqueBG .destaqueBox .destaqueBoxTxt > p{
        font-size: 12px;
        width: 240px;
    }
}
@media(max-width: 815px){
    .destaqueBG .destaqueBtn{
        width: 100%
    }
}
@media(max-width: 415px){
    .destaqueBG .destaqueBtn .wiki{
        width: 95%
    }
}
@media(max-width: 370px){
    .destaqueBG span{
        font-size: 24px;
    }
    .destaqueBG p{
        font-size: 10px;
        padding: 5px;
    }
    .destaqueBG .destaqueBox img{
        width: 100px;
        height: 100px;
    }
    .destaqueBG .destaqueBox .destaqueBoxTxt > span{
        font-size: 12px;
    }
    .destaqueBG .destaqueBox .destaqueBoxTxt > p{
        font-size: 10px;
        width: 180px;
    }
}
/*===estatisticasBG===================================================*/
.estatisticasBG{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.estatisticasBG .estatisticasBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    margin-top: -70px;
    background-color: white;
    flex-wrap: wrap;
    width: 1226px;
}
.estatisticasBG .estatisticasBox .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 26px;
}
.estatisticasBG .estatisticasBox .box span{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #F58B16;
    margin-top: 10px;
}
.estatisticasBG .estatisticasBox .box p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #191918;
    margin-top: 5px;
}
@media(max-width: 1250px){
    .estatisticasBG .estatisticasBox{
        margin: -70px 10px 0 10px;
    }
}
/*===warEmperiumBG=============================================*/
.warEmperiumBG{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(17, 16, 16, 0.6),rgba(20, 20, 20, 0.6)), url(img/flagsBg.png);
    width: 100%;
    height: auto;
    padding-top: 128px;
    margin-top: -128px;
}
.warEmperiumBG .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.warEmperiumBG > img{
    width: 380px;
}
.warEmperiumBG .box > img{
    width: 110px;
    margin-bottom: 5px;
    z-index: 9;
}
.warEmperiumBG .box > #retanguloRosa{
    width: 24px;
    margin-bottom: -70px;
    z-index: 99;
}
.warEmperiumBG .box .txt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 260px;
    height: 130px;
    background: #191918;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin-top: -60px;
}
.warEmperiumBG .box span{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFBE01;
    margin-top: 60px;
}
.warEmperiumBG .box p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--textColorWhite)
}
@media(max-width: 950px){
    .warEmperiumBG > img{
        display: none;
    }
    .warEmperiumBG .box{
        margin: 20px;
        margin-top: 80px;
    }
    .warEmperiumBG{
        flex-wrap: wrap;
    }
}
/*===criarContaBG================================================*/
.criarContaBG{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(17, 16, 16, 0.8),rgba(20, 20, 20, 0.7)), url(img/361.png);
    width: 100%;
    height: auto;
}
.criarContaBG span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--textColorWhite);
    margin: 0;
    margin-top: 30px;
}
.criarContaBG p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFBE01;
    margin: 0;
    margin-bottom: 30px;
}
.criarContaBG p:hover{
    transition: 0.7s;
    color: #F58B16;
}
/*===informacoesBG===============================================================*/
.informacoesBG{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(247, 242, 242, 0.8),rgba(247, 243, 243, 0.8)), url(img/121.png);
    width: 100%;
    height: auto;
}
.informacoesBG .informacoesBox{
    display: flex;
    flex-direction: column;
    width: var(--boxWidth);
}
.informacoesBG .informacoesBox .informacoes_p{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.informacoesBG .informacoesBox .informacoes_p span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #F58B16;
    text-align: center;
    width: 800px;
}
.informacoesBG .informacoesBox .informacoes_p p{
    width: 799px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #191918;
    text-align: center;
}
.informacoesBG .informacoesBox .informacoesLista{
    display: flex;
    justify-content: space-between;
    width: var(--boxWidth);
}
.informacoesBG .informacoesBox .informacoesLista img{
    margin-top: -100px;
}
@media(max-width: 1220px){
    .informacoesBG .informacoesBox .informacoesLista{
        width: 98%
    }
    .informacoesBG .informacoesBox .informacoes_p span{
        width: 60%;
    }
    .informacoesBG .informacoesBox .informacoes_p p{
        width: 60%;
    }
    .informacoesBG .informacoesBox .informacoesLista img{
        width: 350px;
    }
}
@media(max-width: 1000px){
    .informacoesBG .informacoesBox .informacoesLista li{
        font-size: 12px;
    }
    .informacoesBG .informacoesBox .informacoes_p span{
        font-size: 28px;
    }
    .informacoesBG .informacoesBox .informacoes_p p{
        font-size: 12px;
    }
}
@media(max-width: 888px){
    .informacoesBG .informacoesBox .informacoesLista img{
        margin-left: -120px;
    }
}
@media(max-width: 750px){
    .informacoesBG .informacoesBox .informacoesLista img{
        display: none;
    }
    .informacoesBG .informacoesBox .informacoes_p{
        align-items: center;
        justify-content: center;
    }
    .informacoesBG .informacoesBox .informacoesLista{
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 425px){
    .informacoesBG .informacoesBox .informacoes_p span{
        font-size: 24px;
    }
    .informacoesBG .informacoesBox .informacoes_p p{
        font-size: 10px;
    }
    .informacoesBG .informacoesBox .informacoesLista li{
        font-size: 10px;
    }
}
/*===footerBG=======================================================*/
.footerBG{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #191918;
}
.footerBG .footerBarra{
    background: linear-gradient(180deg, #F58B16 0%, #FFBE01 100%);
    height: 10px;
    width: 60%;
    align-self: flex-start;
}
.footerBG .footerBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--boxWidth);
    padding: 20px;
}
.footerBG .footerBox .box{
    display: flex;
    flex-direction: column;
    height: 150px;
    Width: 280px;
    margin: 0 5px 0 5px;
}
.footerBG .footerBox .box span{
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color:#FFBE01
}
.footerBG .footerBox .box p{
    margin: 0;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--textColorWhite);
}
.footerBG .footerBox .box li{
    margin: 0;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--textColorWhite);
}
.footerBG .footerBox .box li a{
    color: var(--textColorWhite);
}
.footerBG .footerBox .box li a:hover{
    color: #FFAA00;
    opacity: 0.8;
    transition: 0.7s;
    text-decoration: none;
}
.footerBG .footerAllrights{
    display: flex;
    width: var(--boxWidth);
}
.footerBG .footerAllrights p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #F3F3F3;
    margin: 0;
    width: 1216px
}
@media(max-width: 1230px){
    .footerBG .footerAllrights p{
        width: 98%;
    }
    .footerBG .footerAllrights{
        display: flex;
        width: 100%;
    }
    .footerBG .footerAllrights img{
        margin-right: 5px;
    }
    .footerBG .footerBox{
        width: 100%;
    }
}
@media(max-width: 800px){
    .footerBG .footerBox img{
        width: 100px;
    }
    .footerBG .footerBox .box span{
        font-size: 12px;
    }
    .footerBG .footerBox .box p{
        font-size: 10px;
    }
    .footerBG .footerBox .box li{
        font-size: 10px;
    }
}
@media(max-width: 580px){
    .footerBG .footerBox img{
        display: none;
    }
    .footerBG .footerBox .box span{
        font-size: 10px;
    }
    .footerBG .footerBox .box p{
        font-size: 8px;
    }
    .footerBG .footerBox .box li{
        font-size: 8px;
    }
    .footerBG .footerAllrights{
        margin-top: 10px;
    }
}
/*===timeLine======================================================*/
.timelineBG{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(247, 242, 242, 0.8),rgba(247, 243, 243, 0.8)), url(img/341.png);
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-bottom: 30px;
}
.timelineBG > span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #F58B16;
    margin-top: 30px;
}
.timelineBG > p{
    width: 800px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    align-items: center;
    text-align: center;
    color: var(--textColorBlack);
    margin-top: 20px;
}
.timelineBG .timelinebox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--boxWidth);
}
.timelineBG .timelinebox .timeline__content{
    display: flex;
    padding: 15px;
    font-size: 1rem;
    color: black;
    background: white;
}
.timelineBG .timelinebox .timeline__content img{
    width: 120px;
    height: 120px;
    margin-right: -50px;
    margin-top: 30px;
}
.timelineBG .timelinebox .timeline__content p{
    font-size: 14px;
    margin: 10px 10px 10px 10px;
}
@media(max-width: 1240px){
    .timelineBG .timelinebox{
        width: 98%
    }
}
@media(max-width:800px){
    .timelineBG > p{
        width: 98%
    }
    .timelineBG .timelinebox .timeline__content img{
        display: none;
    }
}
@media(max-width:500px){
    .timelineBG > span{
        font-size: 34px;
    }
    .timelineBG > p{
        font-size: 12px;
    }
}
/*===slidBar=========================================================*/
#sidebar {
    width: 50vw;
    position: fixed;
    top: 0;
    left: -60vw;
    height: 100vh;
    z-index: 999;
    background-color: #F58B16;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar .slideBody a{
    text-decoration: none;
    margin: 10px;
    color: var(--textColorWhite);
}

#sidebar .slideBody{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#sidebar .slideBody a:hover{
    color: #FF4E1A;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #f76402;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-top: -30px;
}
.overlay.active {
    display: block;
    opacity: 1;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}